/* css/Sidebar.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul ul {
    padding-left: 20px;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }